header {
    background-color: #00aeff;
}

footer{
    background-color: #00aeff;
}

body {
    background-color: #00aeff;
}

p{
    color: black;
}

.bg{
    background-color: #00aeff;
}

.navbar{
    background-color: white;
}
