header {
    background-color: rgb(211, 206, 206);
}

footer{
    background-color: #00aeff;
}

body {
    background-color:  rgb(211, 206, 206);
}

p{
    color: black;
}

.bg{
    background-color: #00aeff;
}

.navbar{
    background-color: #00aeff;
}

.card{
    background-color: white;
}