@import "media";
@import "fuentes";
@import "operaciones";

ul li {
    list-style-type: none;
}


li {
    display: inline-block;
}

.navbar {
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}

p {
    padding: 20;
    font-size: 20px;
    text-align: center;
    color: black;
}


ul li {
    display: inline-block;

}





.mediana{
    border: 0;
}

.display-1{
    font-size: 0%;
    margin-bottom: 0%;
}

.navbar-expand-lg{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row{
    margin-left: calc(var(--bs-gutter-x) * 3.5);
    justify-content: center;
}