@import "media";
@import "fuentes";
@import "operaciones";

ul li {
    list-style-type: none;
}


li {
    display: inline-block;
}

.navbar {
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}

p {
    padding: 20;
    font-size: 20px;
    text-align: center;
    color: black;
}


ul li {
    display: inline-block;

}


.box{
    transition-property: all;
    transition-duration: 1s;
}

.box:hover{
    transform: scale(1.2);
}

.mediana{
    border: 0;
}

.display-1{
    font-size: 0%;
    margin-bottom: 0%;
}
